

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="/assets/icons/logo_200.png" style="width: 75px; filter: brightness(0);"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink = "/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/loteria">Loteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/calculadora">Calculadora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/tuberia">Tuberia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/estructuras">Estructura de control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/formulario">Formulario</a>
            </li>


            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CRUDs BD</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item hover" routerLink = "/crud">CRUD Local</a>
                    <a class="dropdown-item" routerLink = "/crud_bd">CRUD BD</a>
                    <a class="dropdown-item" routerLink = "/moviles">CRUD Movil</a>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink = "/perfiles">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Lista perfiles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/mensajes">Mensajes</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <ng-template [ngIf]='!isLogged()' [ngIfElse]='salir'>
                <li class="nav-item">
                    <a class="nav-link" routerLink = "/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink = "/login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </a>
                </li>
            </ng-template>
            <ng-template #salir>
                <li class="nav-item">
                    <a class="nav-link" routerLink = "/perfil">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="doLogout()" routerLink='.'>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout
                    </a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>

<script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>